/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-6edhqqodbp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6edhqqodbp] {
    flex: 1;
}

.sidebar[b-6edhqqodbp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6edhqqodbp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6edhqqodbp]  a, .top-row[b-6edhqqodbp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-6edhqqodbp]  a:hover, .top-row[b-6edhqqodbp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-6edhqqodbp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-6edhqqodbp] {
        justify-content: space-between;
    }

    .top-row[b-6edhqqodbp]  a, .top-row[b-6edhqqodbp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6edhqqodbp] {
        flex-direction: row;
    }

    .sidebar[b-6edhqqodbp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6edhqqodbp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6edhqqodbp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6edhqqodbp], article[b-6edhqqodbp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
*[b-p37curf7rd] {
    color: #fff;
    box-sizing: border-box;
}

.app-container[b-p37curf7rd] {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 40%;
    align-items: center;
    justify-content: baseline;
    background-color: #24232a;
    height: 80vh;
    padding: 20px 40px;
}

.app-container > *[b-p37curf7rd] {
    width: 100%;
}

.app-header[b-p37curf7rd] {
    display: inherit;
    flex-direction: column;
    margin: 0 auto;
    text-align: start;
}

.password-field[b-p37curf7rd] {
    display: flex;
    justify-content: space-between;
}

.password-field > span[b-p37curf7rd] {
    flex-grow: 11;
}

.copy-icon[b-p37curf7rd] {
    cursor: pointer;
    flex-grow: 1  ;
}

.app-body[b-p37curf7rd] {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-body > *[b-p37curf7rd] {
    width: 100%;
}

.options-section[b-p37curf7rd] {
    display: inherit;
    flex-direction: column;
}

.strength-indicator[b-p37curf7rd] {
    display: flex;
}

.strength-pill[b-p37curf7rd] {
    width: 70px;
    height: 7px;
    border-radius: 30px;
    margin: 2px;
    border: 1px solid #fff;
    background-color: transparent;
}

.weak-strength-pill[b-p37curf7rd] {
    background-color: red;
}

.normal-strength-pill[b-p37curf7rd] { 
    background-color: yellow;
}

.strong-strength-pill[b-p37curf7rd] {
    background-color: green;
}

input[type="number"][b-p37curf7rd] {
    text-align: right;
    width: 20%;
    border: none;
    background-color: #24232a;
}

button[b-p37curf7rd] {
    color: #000;
    padding: 10px 20px;
    background-color: #a5ffb0;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}
